doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  include ../blocks/template/head.pug
  block head
.loader
  .loader-inner
    .cssload-loader
include ../blocks/template/header.pug
block content
include ../blocks/template/footer.pug
include ../blocks/template/scripts.pug