extends ../templates/startpage.pug
block head
    title Startpage - Azure Storage
block content
    h2.font-normal Basic Javascript Multiplayer Game
    include ../blocks/startpage/section_game.pug
    //include ../blocks/startpage/section_log.pug